@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
    @apply leading-tight;
    @apply font-light;
    @apply font-italiana;
  }

  h1,
  h2,
  p,
  span {
    @apply text-white;
  }
}

@screen md {
  h1 {
    @apply text-7xl;
  }
}

body {
  background-color: black;
  font-family: 'Roboto', 'sans';
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
