@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-7xl;
    @apply leading-tight;
    @apply font-light;
  }
}

body {
  background-color: black;
  font-family: 'Italiana', 'serif';
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
